table, th, td{
    border: solid black 1px;
    padding: 8px;
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
    width: 150px;
}

th:nth-child(1),td:nth-child(4){
    text-align: left;
}

tr:nth-child(2),tr:nth-child(4){
    background-color: rgb(255, 192, 56);
}

tr:nth-child(3),tr:nth-child(5){
    color: white;
    background-color: red;
}

td:nth-child(2),td:nth-child(3){
    text-align: center;
}

th:nth-child(4),td:nth-child(4){
    text-align: right;
}