table, th, td{
    border: solid black 1px;
    margin: auto;
    border-collapse: collapse;
    width: 720px;
    height: 200px;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.black{
    background-color: black;
}

.green{
    background-color: green;
}